/* css styles */
@media (min-width: 1200px) {

    body.fullcontent:not(.floating):not(.docked) .page-columns {
        grid-template-columns: [screen-start] 1.5em [screen-start-inset] 5fr [page-start page-start-inset] 35px [body-start-outset] 35px [body-start] 1.5em [body-content-start] minmax(500px, calc(1050px - 3em)) [body-content-end] 1.5em [body-end] 35px [body-end-outset] 35px [page-end-inset] 35px [page-end] 5fr [screen-end-inset] 1.5em [screen-end];
    }

    body .page-columns {
        grid-template-columns: [screen-start] 1.5em [screen-start-inset] 5fr [page-start page-start-inset] 35px [body-start-outset] 35px [body-start] 1.5em [body-content-start] minmax(500px, calc(1050px - 3em)) [body-content-end] 1.5em [body-end] 35px [body-end-outset] 35px [page-end-inset] 35px [page-end] 5fr [screen-end-inset] 1.5em [screen-end];
    }
}

.cell-output{
  margin-top: 12px;
  padding-left: 10px;
  border-left: 5px double #78c2ad;
}

.level2{
    margin-top: 1.5rem;
}

#quarto-document-content p:has(+ .cell){
    margin-bottom: 1.5rem;
}
#quarto-document-content .cell + p{
    padding-top: 1.5rem;
}

div.sourceCode{
    border: 1px solid #acbbb6;
}
